@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{
    --background-gradient: linear-gradient(to right top, rgb(214, 255, 89) 0%, rgb(232, 252, 173) 25%, rgb(250, 192, 104) 50%, rgb(252, 217, 165) 75%, rgb(214, 255, 89) 100%);
    --light-orange-color: rgb(255,164,032);
    --lemon-green-color: rgb(175, 231, 4);
    --faded-orange-color: rgb(255,164,032);
    --background-image-menu: linear-gradient(120deg, rgb(237, 248, 198) 0%, rgb(254, 255, 204) , rgb(255, 236, 210) 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #EAEBEF;
    font-family: 'Poppins', sans-serif;
}

.getPurchase{
    position: relative;
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    padding: 0.1px;
    align-items: center;
    overflow: auto;
}

.getPurchase__container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    min-width: 1000px;
}

.getPurchase__title{
    text-align: center;
    font-size: 40px;
    font-family: inherit;
    font-weight: bold;
    filter: drop-shadow(0 0 12px var(--light-orange-color));
    margin: 25px 0;
    width: 100%;
    height: 10%;
}

.getPurchase__content{
    position: relative;
    width: 90%;
    height: 80%;
    height: auto;
    padding: .1px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.getPurchase__table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 2px -2px 15px -9px black;  
    max-width: 1200px;
}

/* .getPurchase__head{
    
} */

/* .getPurchase__head{
    border-radius: 10px;
} */

.getPurchase__headrow{
    background-color: var(--light-orange-color);
    text-align: center;
}

.getPurchase__bodyrow{
    background-color: rgb(250, 240, 225);
    text-align: center;
}

.getPurchase__headcolumn, .getPurchase__bodycolumn{
    border: .1px solid rgb(121, 120, 120);
    text-overflow: ellipsis;
    overflow: hidden;
}

.getPurchase__headcolumn{
    padding: 12px 15px;
}

.getPurchase__bodycolumn{
    padding: 8px 10px;
}

.getPurchase__bodycolumn{
    border-bottom: 1px solid #969696;
    gap: 10px;
}

/* .getPurchase__bodyrow:nth-of-type(even){
    background: rgb(253, 228, 190);
} */

.getPurchase__bodyrow--disabled{
    background-color: rgb(201, 196, 196);
}

/* .getPurchase__bodyrow--disabled:nth-of-type(even){
    background-color: rgb(201, 196, 196);
}
 */

.getPurchase__bodycheck{
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition-duration: .2s;
}

.getPurchase__bodycheck:hover{
    box-shadow: 0 0 15px -3px var(--light-orange-color);
}

.getPurchase__bodybtn{
    border: 1px solid rgb(99, 98, 98);
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 15px;
    background-color: var(--lemon-green-color);
    cursor: pointer;
    transition-property: transform;
    transition-duration: .2s;
    margin: 0 5px;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.getPurchase__bodybtn:hover{
    transform: scale(1.05);
}

.getPurchase__bodybtn--details{
    border: 1px solid rgb(99, 98, 98);
    display: inline-block;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 15px;
    background-color: var(--faded-orange-color);
    cursor: pointer;
    transition-property: transform;
    transition-duration: .2s;
    margin: 0 5px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.getPurchase__bodybtn--details:hover{
    transform: scale(1.05);
}

.spacePurchase{
    height: 25px;
    width: 100%;
    max-width: 700px;
}