@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{
    --background-gradient: linear-gradient(to right top, rgb(214, 255, 89) 0%, rgb(232, 252, 173) 25%, rgb(250, 192, 104) 50%, rgb(252, 217, 165) 75%, rgb(214, 255, 89) 100%);
    --light-orange-color: rgb(255,164,032);
    --lemon-green-color: rgb(175, 231, 4);
    --faded-orange-color: rgb(255,164,032);
    --background-image-menu: linear-gradient(120deg, rgb(237, 248, 198) 0%, rgb(254, 255, 204) , rgb(255, 236, 210) 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #EAEBEF;
    font-family: 'Poppins', sans-serif;
}

.welcome{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.1px;
}

.welcome__title{
    font-size: 50px;
    filter: drop-shadow(0 0 10px rgb(255, 154, 2));
}

.welcome__name{
    font-size: 40px;
    filter: drop-shadow(0 0 5px rgb(191, 255, 0));
}

.welcome__picture{
    margin: 25px 0;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    
}

.welcome__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}